body {
  background-color: #fff;
  color: #333;
  font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

* {
  box-sizing: border-box;
}

input:invalid {
  border-color: rgb(219, 109, 109);
}

input:valid {
  border-color: green;
}

.active {
  color: red;
  font-weight: 700;
}